.App {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  margin-right: 8px;
  color: #efefef;
}

input {
  margin-bottom: 10px;
  color: white;
}

input:focus {
  color: white;
}

button {
  display: block;
  margin-top: 10px;
  height: 0.1rem;
  width: 0.1rem;
}
